@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  font-family: Montserrat;
}

.payment-page {
  margin: 0 auto;
  max-width: 1280px;
}

.routes {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  justify-content: center;
  margin-bottom: 55px;
}

.routes-line {
  width: 250px;
  height: 1px;
  margin: auto 29px;
  background: #282828;
  @media (max-width: 992px) {
    width: 100px;
  }
  @media (max-width: 769px) {
    display: none;
  }
}

.routes-titl {
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  @media (max-width: 992px) {
    font-size: 18px;
  }
  @media (max-width: 769px) {
    display: none;
  }
}

.routes-titl:nth-of-type(3n) {
  color: #ec1d1d;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  @media (max-width: 992px) {
    font-size: 20px;
    font-weight: 500;
  }
  @media (max-width: 769px) {
    display: block;
    margin-right: 40px;
  }
}

.payment {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin: 52px 0px 132px 75px;
  @media (max-width: 992px) {
    flex-direction: column;
    gap: 0;
  }
}

.payment-adaptive {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  @media (max-width: 992px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }
  @media (max-width: 769px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
.payment-info {
  max-width: 264px;
  .payment-info__btn {
    margin-top: 34px;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #c3b212;
    border: none;
    background-color: white;
    padding: 0;
    cursor: pointer;
    &:hover {
      font-size: 18px;
    }
  }
}
.payment-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 12px;
  margin-top: 0;
}
.textarea {
  max-width: 250px;
  max-height: 40px;
  &:hover {
    border: 2px solid #c3b212;
  }
}
.textarea-email {
  width: 300px;
  max-height: 50px;
  &:hover {
    border: 2px solid #c3b212;
  }
}
.payment-address--textarea {
  margin-top: 10px;
}
.payment-address {
  margin-top: 40px;
  @media (max-width: 769px) {
    margin-top: 20px;
  }
  .payment-address__title {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-bottom: 7px;
  }

  .payment-address__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
}

.payment-type__btn {
  position: relative;
  height: 56px;
  border: 1px solid #a0a0a0;
  margin-top: 24px;
  margin-bottom: 24px;
  max-width: 355px;
  margin-left: 3px;

  @media (max-width: 992px) {
    margin-top: 45px;
  }
  @media (max-width: 769px) {
    margin-top: 30px;
  }
}

.payment-type__btn__form {
  padding: 10px 24px;
  height: 56px;
  width: 356px;
  margin-left: 2px;
  margin-top: 16px;
  background-color: white;
  border: 1px solid #282828;

  &:hover {
    color: #c3b212;
  }
}

.payment-form-title__icon {
  display: flex;
  gap: 11px;
  margin-top: 18px;
}

.pay-form-title-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.payment-summery {
  .payment-summery__order-container {
    background: #f4f4f4;
    padding: 28px 31px 42px 18px;
    @media (max-width: 992px) {
      margin-top: 30px;
      max-width: 720px;
      margin-left: 0;
    }
    @media (max-width: 769px) {
      max-width: 360px;
    }
  }

  .payment-summery__order-container h4 {
    margin-bottom: 40px;
    @media (max-width: 992px) {
      margin-left: 45px;
    }
  }

  .payment-summery__order {
    display: flex;
    gap: 280px;
    flex-direction: row;
    margin-bottom: 21px;

    @media (max-width: 992px) {
      margin-left: 45px;
    }
    @media (max-width: 769px) {
      margin-left: 0;
    }
    .payment-summery__order-position {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.5px;
      color: #282828;
    }

    .payment-summery__order-price {
      color: #282828;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.15px;
      @media (max-width: 992px) {
        margin-left: 150px;
      }
      @media (max-width: 769px) {
        margin-left: -75px;
      }
    }

    .payment-summery__order-total {
      color: #282828;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.15px;
    }

    .payment-summery__order-price-total {
      color: #282828;
      font-size: 22px;
      font-weight: 500;
      line-height: 28px;
      @media (max-width: 992px) {
        margin-left: 165px;
      }
      @media (max-width: 769px) {
        margin-left: -75px;
      }
    }
  }

  .payment-summery__order-info {
    color: rgba(40, 40, 40, 0.7);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    @media (max-width: 992px) {
      margin-left: 46px;
    }
    @media (max-width: 769px) {
      margin-left: 0;
    }
  }
}

.payment-summery__order-btn {
  background-color: #282828;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  width: 465px;
  margin-top: 32px;
  &:hover {
    background-color: #fff;
    color: #282828;
  }
  @media (max-width: 992px) {
    width: 720px;
    margin-left: 0;
  }
  @media (max-width: 769px) {
    width: 360px;
  }
}

.payment-summery-line {
  max-width: 362px;
  height: 1px;
  margin: 21px auto;
  background-color: #a0a0a0;
  @media (max-width: 992px) {
    max-width: 500px;
    margin: 25px 75px;
  }
}
.none {
  display: none;
}
.form__pay {
  width: 360px;
  margin-top: 40px;
}
