.routes {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    margin-bottom: 55px;
}

.routes-line {
    width: 250px;
    height: 1px;
    margin: auto 29px;
    background: #282828;
}

.routes-title {
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
}

.routes-title:nth-of-type(2n) {
    font-size: 20px;
    color: red;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
}