@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
    background-color: #F4F4F4;
}

.main{
    margin: 0 auto;
    max-width: 1280px;
}

.routes{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    margin-bottom: 55px;
}

.routes-line{
    width: 250px;
    height: 1px;
    margin: auto 29px;  
    background: #282828;
}

.routes-title{
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
}

.routes-title:nth-of-type(2n) {
    font-size: 20px;
    color: red;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
}

.form{
    display: flex;
    gap: 55px;
    justify-content: space-evenly;
}

.main-address, .main-contact, .main-order{
    display: flex;
    flex-direction: column;
}

.main-address__title, .main-contact__title, .main-order__title{
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 18px;
    margin-top: 0;
}

.form-label{
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 15px;
    justify-content: space-between;
    display: flex;
}

.form-input{
    display: flex;
    padding: 10px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-indent: 10px;
    width: 288px;
}

.form-button{
    background-color: black;
    color: white;
    padding: 10px 24px;
}

.line{
    width: 340px;
    height: 1px;
    background-color: #282828;
}
.form-field {
    margin-bottom: 20px;
}

.error-message {
    color: red;
  }
  
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

.main-order__span{
    margin-left: 220px;
}

