.wine-blog__title,
.wine-blog__subtitle,
.wine-blog__text,
.wine-blog__accent {
  color: #282828;
}

.wine-blog {
  padding-top: 50px;
  padding-bottom: 40px;
}

.wine-blog__title {
  font-family: Prosto One;
  font-size: 42px;
  line-height: 122%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.wine-blog__list {
  list-style: none;
}

.wine-blog__item {
  display: grid;
  grid-template-columns: 500px 1fr;
  column-gap: 40px;
  margin-bottom: 50px;
}

.wine-blog__item:last-child {
  margin-bottom: 0;
}

.wine-blog__info {
  max-width: 500px;
}

.wine-blog__subtitle {
  font-family: Prosto One;
  font-size: 32px;
  line-height: 122%;
  margin-bottom: 20px;
}

.wine-blog__text {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
}

.wine-blog__accent {
  color: red;
}
