.cart {
  &-lis {
    width: 40%;
    margin-bottom: 50px;
    &__subtotal {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    &__link {
      display: flex;
      justify-content: center;
      &-shop {
        color: rgba(40, 40, 40, 1);
        text-decoration: none;
        cursor: pointer;
        border: 1px solid black;
        box-sizing: border-box;
        padding: 10px 24px;
        margin: 0 auto;
      }
    }

    &__item {
      &-info {
        width: 100%;
      }
      &-name-quantity {
        display: flex;
        justify-content: space-between;
        a {
          text-transform: capitalize;
          text-decoration: none;
          color: black;
          display: flex;
          flex-wrap: wrap;
        }
        p {
          display: flex;
          flex-wrap: wrap;
        }
      }
      display: flex;
      width: 100%;
      height: 80px;
      margin-bottom: 30px;
      &-price {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        &__quantity {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: rgba(40, 40, 40, 1);
        }
      }
      &-img {
        min-width: 80px;
        margin-right: 10px;
        img {
          height: 80px;
          width: 80px;
          object-fit: contain;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .cart {
    &-lis {
      width: 50%;
    }
  }
}

@media screen and (max-width: 790px) {
  .cart {
    &-lis {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      &__item {
        width: 100%;
      }
      &__subtotal {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .cart {
    &-lis {
      &__item {
        margin-bottom: 60px;
      }
    }
  }
}