.button {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  border: 1px solid #000;
  padding: 20px 40px;
  text-align: center;
  cursor: pointer;
}

.buttonLight {
  background-color: #fff;
  color: #000;
}

.buttonDark {
  background-color: #000;
  color: #fff;
}

.AddToCart {
  background: transparent;
  padding: 0;
  border: none;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fff;
}

.Remove {
  background: transparent;
  padding: 0;
  border: none;
  text-transform: uppercase;
  color: rgba(40, 40, 40, 1);
}

.Quantity {
  background: transparent;
  padding: 0;
  border: none;
  width: 24px;
  height: 24px;
}
