$font-family: 'Montserrat', sans-serif;
* {
  font-family: $font-family;
  box-sizing: border-box;
}

// FORM FOR ACCOUNT PAGE
.form__signIn {
  background-color: #f4f4f4;
  width: 552px;
  height: 455px;
  .form-block {
    padding: 50px;
    border: none;
    &:not(:last-child) {
      margin-bottom: 25px;
    }

    .form-item {
      display: block;
      width: 100%;
    }

    .form-label {
      color: #000000;
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
      display: block;
      margin-bottom: 30px;
    }
  }
}

// FORM FOR DELIVERY PAGE
.form__delivery {
  width: 290px;
  height: 448px;
  padding: 50px;

  .form-block {
    border: none;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    .form-item {
      display: block;
      width: 100%;
    }

    .form-label {
      color: #000000;
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
      display: block;
      margin-bottom: 15px;
    }
  }
}
// style for delivery post code and city
.flex {
  display: flex;
  margin-bottom: -15px;
}

//  form for contact info/delivery page
.form__delivery__contact {
  width: 288px;
  height: 112px;
  padding: 0;
  .form-block {
    border: 1px solid;

    .form-item {
      display: block;
      width: 100%;
    }

    .form-label {
      color: #000000;
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
      display: block;
      margin-bottom: 15px;
    }
  }
}

// FORM FOR PAY PAGE
.form__pay {
  width: 360px;

  .form-block {
    border: 1px solid #a0a0a0;
    padding: 20px 35px;

    &:not(:last-child) {
      padding-bottom: 50px;
    }

    .form-item {
      display: block;
      width: 100%;
      padding-left: 15px;
    }

    .form-label {
      color: #282828;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      display: block;
      // margin-bottom: 15px;
      padding-left: 0px;
    }
  }
}
//  style for pay date and cvv
.flex {
  display: flex;
  margin-bottom: 25px;
}
// style for form lable
.pay-form-title {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: block;
  margin-bottom: 15px;
  padding-left: 0;
  padding-top: 15px;
  padding-bottom: 35px;
}
