.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
  width: max-content;

  &__pic {
    width: 65px;
    height: 75px;
  }

  &:hover {
    color: #ec1d1d;
    filter: sepia(40%);
    transition: color 0.2s linear;
  }
}
