// typography
// probably should be moved to a higher level:
$fontColorDefault: #282828;
$fontSizeDefault: 16px;
$fontSizeDefaultSmall: 14px;
$fontFamilyDefault: "Montserrat", sans-serif;

.filter-panel {
  padding: 0;
  list-style: none;
  color: $fontColorDefault;
  font-family: $fontFamilyDefault;

  &__block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;

    &::after {
      display: block;
      position: absolute;
      content: "";
      background-color: #A0A0A0;
      height: 1px;
      width: 80%;
      left: 10%;
      bottom: 0;
    }
  }

  &__button {
    border: 0;
    background-color: transparent;
    padding: 15px 0 8px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    cursor: pointer;

    & .filter-panel__expand-icon {
      display: block;
      position: relative;
      top: 8px;
      right: 7px;
      width: 10px;
      height: 2px;
      background-color: $fontColorDefault;
      transition: 1s;

      &::after {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 10px;
        height: 2px;
        background-color: $fontColorDefault;
        content: "";
        transition: 1s;
      }
    }

    &.closed {
      & .filter-panel__button {
        padding-bottom: 15px;
      }

      & .filter-panel__expand-icon {
        right: 5px;
        width: 14px;

        &::after {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          width: 14px;
          height: 2px;
          transform: rotate(90deg);
          background-color: $fontColorDefault;
          content: "";
          transition: 1s;
        }
      }

      & ~ .filter-panel__options {
        opacity: 0;
        transition: 1s;
        max-height: 0;
        z-index: -1;
        transform: translate(-25px);
      }
    }
  }

  &__title {
    margin: 0;
    color: inherit;
    font-size: $fontSizeDefault;
    font-family: inherit;
    font-weight: 500;
    letter-spacing: 0.15px;
    text-transform: uppercase;
  }


  &__options {
    padding: 0;
    list-style: none;
    opacity: 1;
    transition: 1s;
    max-height: 500vh;
  }
}