.product {
  display: grid;
  grid-template-columns: 456px 1fr;
  column-gap: 96px;
  padding-top: 37px;
  padding-bottom: 63px;
  position: relative;
  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    padding-bottom: 50px;
  }
  @media (max-width: 992px) {
    column-gap: 30px;
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
  @media (max-width: 576px) {
    padding-bottom: 30px;
  }
}

.product-loader {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__img {
  width: 456px;
  height: 507px;
  @media (max-width: 992px) {
    width: 350px;
    height: 380px;
  }
  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 576px) {
    position: absolute;
    top: 0;
    left: 50%;
    height: 393px;
    transform: translateX(-50%);
  }
}

.product__wrapper {
  @media (max-width: 768px) {
    margin-top: 30px;
  }
  @media (max-width: 576px) {
    margin-top: 0;
    padding-top: 380px;
  }
}

.product__title {
  margin-top: 0;
  margin-bottom: 21px;
  font-size: 36px;
  line-height: 122%;
  text-transform: uppercase;
  @media (max-width: 768px) {
    font-size: 28px;
  }
  @media (max-width: 576px) {
    margin-bottom: 12px;
  }
}

.product__description {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  margin-bottom: 21px;
  @media (max-width: 576px) {
    margin-bottom: 12px;
  }
}

.product__price {
  font-size: 36px;
  line-height: 122%;
  margin-bottom: 21px;

  &--old-price {
    text-decoration: line-through;
    color: silver;
    font-size: 24px;
    margin-right: 8px;
  }

  &--discount {
    color: #ec1d1d;
    font-size: 18px;
    margin-right: 25px;
  }

  &--new-price {
    text-decoration: underline;
  }
  @media (max-width: 768px) {
    font-size: 28px;
  }
  @media (max-width: 576px) {
    text-align: center;
    margin-bottom: 12px;
  }
}

.product__all-price {
  margin-bottom: 21px;
  @media (max-width: 576px) {
    text-align: center;
    margin-bottom: 12px;
  }
}

.product__buy {
  display: flex;
  @media (max-width: 576px) {
    justify-content: center;
  }
}

.buy__wrapper {
  display: flex;
  align-items: center;
  margin-right: 27px;
}

.buy__btn {
  border: none;
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
  cursor: pointer;
}

.buy__text {
  font-size: 22px;
  line-height: 127%;
}

.buy__add-cart {
  color: #ec1d1d;
  margin-top: 20px;
  @media (max-width: 578px) {
    text-align: center;
  }
}

.product-info {
  background-color: #f4f4f4;
  padding-top: 40px;
  padding-bottom: 40px;
  @media (max-width: 1200px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.product-info__title {
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
  font-size: 32px;
  line-height: 88%;
  @media (max-width: 1200px) {
    margin-bottom: 30px;
  }
  @media (max-width: 768px) {
    font-size: 28px;
  }
  @media (max-width: 576px) {
    margin-bottom: 15px;
  }
}

.product-info__list {
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 15px;
  text-align: center;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
