.cart {
  max-width: 100vw;
  box-sizing: border-box;
  margin: 0 76px;

  .routes {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    margin-bottom: 55px;
  }

  .routes-line {
    width: 250px;
    height: 1px;
    margin: auto 29px;
    background: #282828;
    @media (max-width: 992px) {
      width: 100px;
    }
    @media (max-width: 769px) {
      display: none;
    }
  }

  .routes-tit {
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    @media (max-width: 992px) {
      font-size: 18px;
    }
    @media (max-width: 769px) {
      display: none;
    }
  }

  .routes-tit:first-of-type {
    color: #ec1d1d;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    @media (max-width: 992px) {
      font-size: 20px;
      font-weight: 500;
    }
    @media (max-width: 769px) {
      display: block;
      margin-right: 40px;
    }
  }

  &-subtotal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &-container {
    display: flex;
    justify-content: space-between;
  }
  &-details {
    width: 45%;

    &__info {
      background-color: rgba(244, 244, 244, 1);
      padding: 20px 30px;
      margin-bottom: 50px;
      p {
        color: rgba(40, 40, 40, 0.7);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px;
        text-align: left;
        margin-bottom: 25px;
      }
      h2 {
        margin-block-start: 0;
      }
      &__title {
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
      }
      &__total {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
      }
    }
    &__payment {
      background-color: rgba(244, 244, 244, 1);
      padding: 20px 30px;
      margin-bottom: 50px;
      &-choose {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
    &__delivery {
      background-color: rgba(244, 244, 244, 1);
      margin-bottom: 50px;
      padding: 20px 30px;
      font-size: 22px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: left;

      h2 {
        margin-block-start: 0;
      }
      &-title {
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
      }
      &-list {
        padding-left: 0;
        list-style: none;
        margin-bottom: 0;
        li {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0.25px;
          text-align: left;

          position: relative;
          padding-left: 20px;
          padding-top: 20px;
        }
        li::before {
          color: rgba(40, 40, 40, 1);
          content: '>';
          position: absolute;
          left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 790px) {
  .cart {
    &-container {
      flex-direction: column;
    }

    &-details {
      width: 100%;
      &__info {
        margin-left: -76px;
        margin-right: -76px;
        padding: 20px 76px;
      }
      &__payment {
        margin-left: -76px;
        margin-right: -76px;
        padding: 20px 76px;
      }
      &__delivery {
        margin-left: -76px;
        margin-right: -76px;
        padding: 20px 76px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .cart {
    margin: 0 20px;
  }
}
