@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

* {
  font-family: Montserrat;
}

.success-page {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 21px;
}
.success-order-title {
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 53px;
  &:hover {
    color: #ec1d1d;
  }
}
.success-title {
  text-align: center;
  font-family: Prosto One;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
}
.success-info {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-top: 16px;
  margin-bottom: 28px;
}

.success {
  color: #282828;

  .success-order {
    display: flex;
    gap: 72px;
    justify-content: center;

    @media (max-width: 992px) {
      display: block;
    }

    .success-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 28px;
      max-width: 453px;
      margin-right: 72px;
      margin-top: 34px;
      @media (max-width: 992px) {
        margin: 0 auto;
      }
      .success-card__info {
        display: flex;
        gap: 26px;
        .success-card__info-img {
          width: 71px;
          height: 71px;
        }
        .success-card__info-title {
          font-size: 14px;
          font-weight: 400;
        }
        .success-card__info-price {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0.15px;
          margin-left: 100px;
        }
      }
    }
    .success-order__info-container {
      display: flex;
      @media (max-width: 992px) {
        gap: 40px;
        margin-top: 40px;
        margin-bottom: 100px;
      }
      @media (max-width: 541px) {
        flex-direction: column;
        // margin-left: 115px;
        justify-content: center;
        align-items: center;
        gap: 80px;
      }
    }
    .success-order__delivery {
      max-width: 264px;
      margin-right: 72px;
      margin-left: 50px;
      @media (max-width: 992px) {
        margin-bottom: -40px;
      }
      @media (max-width: 769px) {
        margin-right: 0;
      }
    }
    .success-order__title {
      font-size: 22px;
      font-weight: 400;
      line-height: 28px;
      margin-bottom: 12px;
    }
    &__info {
      &-title {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.15px;
        margin-bottom: 8px;
      }

      &-text {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px;
        margin-bottom: 40px;
      }
    }
    .success-order__payment {
      width: 196px;
    }
    
  }
  .success-summery {
    display: flex;
    gap: 218px;
    margin-top: 57px;
    justify-content: center;
    @media (max-width: 992px) {
      flex-direction: column;
      gap: 30px;
    }
    .success-summery_recipe {
      margin-bottom: 100px;
      @media (max-width: 992px) {
        margin: 0 auto;
      }
      .success-summery__order {
        display: flex;
        gap: 329px;
        @media (max-width: 992px) {
          gap: 400px;
        }
        @media (max-width: 769px) {
          gap: 300px;
        }

        .success-summery__order-position {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.5px;
          margin-bottom: 29px;
        }
        .success-summery__order-price {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0.15px;
          &-total {
            font-size: 22px;
            font-weight: 500;
            line-height: 28px;
          }
        }
        .success-summery__order-total {
          font-size: 22px;
          font-weight: 500;
          line-height: 28px;
          letter-spacing: 0.15px;
        }
      }
      .success-summery-line {
        max-width: 416.019px;
        margin-bottom: 22px;
        margin-right: 14px;
        @media (max-width: 992px) {
          max-width: 450.019px;
          margin-right: 189px;
        }
        @media (max-width: 769px) {
          max-width: 400px;
          margin-right: 28px;
        }
      }
    }
  }
  .success-btn {
    background-color: #282828;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    padding: 21px 70px;
    @media (max-width: 992px) {
      margin: 20px 170px 40px;
    }
        @media (max-width: 541px) {
    margin: 0 0 0 115px;
        }
    &:hover {
      background-color: #fff;
      color: #282828;
    }
    
  }
}
.cart-list__item {
  display: flex;
  gap: 26px;
}
.cart-list__item-quantity {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  display: flex;
}
.img {
  width: 71px;
  height: 71px;
}
.cartList-text {
  width: 400px;
  
  @media (max-width: 541px) {
      width: 250px;
      margin-right: 40px;
    }
   
  }

