.form {
    background-color: #ffffff;
    margin: 25px;

    .form-block {
        padding: 30px 50px;
        border: none;
        box-sizing: border-box;
        box-shadow: 0 2px 33px rgba(0, 0, 0, 0.5);

        &:not(:last-child) {
            margin-bottom: 32px;
        }

        .form-item {
            display: block;
            width: 100%;
        }

        .form-label {
            color: #000000;
            font-size: medium;
            line-height: 2;
            display: block;
            margin-bottom: 3px;
        }
    }
}
// .signIn-input {
// width: 456px;
// height: 84px;
// }