.like {
  text-align: center;
  padding-top: 68px;
  padding-bottom: 93px;
  @media (max-width: 1200px) {
    padding-top: 50px;
    padding-bottom: 65px;
  }
  @media (max-width: 768px) {
    padding-top: 35px;
    padding-bottom: 45px;
  }
}

.like__title {
  margin-top: 0;
  margin-bottom: 40px;
  color: #282828;
  font-size: 32px;
  line-height: 125%;
  @media (max-width: 1200px) {
    margin-bottom: 30px;
  }
  @media (max-width: 992px) {
    font-size: 26px;
  }
}

.like__wrapper {
  display: flex;
  justify-content: center;
}

.like__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 576px) {
    grid-template-columns: 1fr;
  }
}
